@import "tailwindcss";


body{
    background: linear-gradient(to bottom right, #134e4a, #000000);
    min-height: 100vh;
}

.Toastify__toast--success {
  background: #134e4a;
}

.Toastify__progress-bar--success {
  background: #14b8a6 !important; 
}

/* Success icon circle */
.Toastify__toast-icon svg {
  fill: #14b8a6;
}